
<style>.animate-charcter
  {
     text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
.form-style{
  box-shadow: 3px 3px;
  border: 1px solid black;
}

  </style>



<nav class="navbar bg-body-tertiary animate__animated animate__fadeInDown">
    <div class="container-fluid ">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-bug"></i></a>
     <a href="https://github.com/coding-destini" class="animate__heartBeat animate__animated"> <i class="fa-brands fa-github fs-1" style="cursor: pointer; color: black;"></i></a>
      <div class="justify-content-center heading fs-3 b-3"type="button"><b><%=header%></b></div>
      <% if(create === 'See all Issues'){%> 
        <a href="/"><div class="backbutton border border-black rounded-circle p-2 px-3 fs-3 navbar-heading"><i class="fa-solid fa-angle-left"></i></div></a>
      <a class="navbar-heading" type="button "  href="/getallissues"><b class="animate-charcter"><%=create%></b></a>
    <%}else if(create === 'Create Projects'){%>
      <a class="navbar-heading " type="button"  href="/getallissues"><b class="animate-charcter">All Issues</b></a>
      <div class="justify-content-center animate-charcter"><a class="  navbar-heading" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal"><b><%=create%></b></a></div>

      <%}else{%>
         <a href="/"><div class="backbutton border border-black rounded-circle p-2 px-3 fs-3 navbar-heading"><i class="fa-solid fa-angle-left"></i></div></a>
      <div class="justify-content-center animate-charcter "><a  href="https://github.com/coding-destini/Issu-Tracker-Backend" class="navbar-heading" type="button"  data-bs-toggle="modal"><b><%=create%></b></a></div>
   
      <%}%>
    </div>
  </nav>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content form-style">
      <div class="modal-header">
        <h1 class="modal-title fs-5 " id="exampleModalLabel"><b>Create Project 🙌</b></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/create" method="post">
          <div class="mb-3">
            <label for="exampleInputProjectName" class="form-label"><b>Project Name 🤔</b></label>
            <input type="text" class="form-control " id="exampleInputProjectName" aria-describedby="ProjectHelp" name="name">
            </div>
            <div class="mb-3">
              <label for="exampleInputPrjectDes" class="form-label"><b>Project description 📖</b></label>
              <input type="text" class="form-control " id="exampleInputPrjectDes" name="description">
              </div>
              <div class="mb-3">
                <label for="exampleInputAuthor" class="form-label"><b>Author Name 👦 </b></label>
                <input type="text" class="form-control " id="exampleInputAuthor" name="author">
                </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"><b>Project Type 🤷‍♂️</b></label>
                <!-- create a dropdown -->
                <select class="form-select " name="projectType">
                  <option value="web">Web</option>
                  <option value="android">Android</option>
                  <option value="ios">IOS</option>
                  <option value="desktop">Desktop</option>
                </select>
            
              </div>
              
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create Project</button>
      </div>
    </form>
    </div>
    </div>
</div>



 