<nav class="navbar bg-body-tertiary ">
    <div class="container-fluid">
      <a class="navbar-brand"><i class="fa-solid fa-bug"></i></a>
      <div class="justify-content-center "><a class="navbar-heading">All Projects</a></div>
    </div>
  </nav>