.navbar{
    border: 1px solid black;
    border-radius: 20px;
}

.navbar-brand {
    border: 1px solid black;
    padding: 1%;
    border-radius: 50%;
    cursor: pointer;
}

.navbar-heading{
    text-decoration: none;
    color: black;
        border: 1px solid black;
    border-radius: 15px;
    padding: 10px 40px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.navbar-heading:hover{
    box-shadow: 3px 3px;
}
.search-issues{
    align-items: center;
}

